p {
  font-size: 19px;
}

#blog .container {
  font-size: 19px;
  max-width: 768px;
}

#blog li {
  margin: 12px 0;
}

#blog img {
  margin: 2em 0;
  max-width: 100%;
}

#blog h1, h2 {
  margin-bottom: 0.6em;
  font-weight: 900;
  text-transform: none;
}

#blog h1 {
  margin-top: 1em;
}

#blog h2 {
  margin-top: 1.8em;
}

#blog .author {
  font-weight: 600;
}
