body {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

header {
  background-image: url("../images/header-bg-4.jpg");
  background-repeat: no-repeat; }

header p {
  font-size: 1.3em;
  color: #fed136;
  line-height: 2em; }

header .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }

header .btn-primary:hover, header .btn-primary:focus, header .btn-primary:active, header .btn-primary:active {
  border-color: #337ab7;
  color: #fff;
  background-color: #2e6da4; }

.intro-text p {
  font-size: 1.3em;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.divider-1 {
  height: 150px; }

.divider-2 {
  height: 75px; }

.divider-3 {
  height: 37.5px; }

.divider-4 {
  height: 18.75px; }

.divider-5 {
  height: 9.375px; }

a.inline {
  float: left; }

a.inline:hover {
  text-decoration: none; }

a.inline.first {
  margin-right: 2em;
  margin-bottom: 2em; }

#skills {
  margin-left: 5em; }
  @media only screen and (max-width: 738px) {
    #skills {
      margin-left: 0em; } }

#skills img {
  margin: 4em 0 0 -8em; }

@media only screen and (min-width: 738px) and (max-width: 1067px) {
  #skills img {
    margin: 4em 0 0 -5em; } }
@media only screen and (max-width: 737px) {
  #skills img {
    margin: 4em 0 0 -1em; } }
#company figure.accenture {
  background-image: url("../images/logos/accenture.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center; }

#company figure.demomedia {
  background-image: url("../images/logos/demo.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center; }

#company figure.deutschebank {
  background-image: url("../images/logos/deutschebank.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center; }

#company figure.engine {
  background-image: url("../images/logos/engine.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center; }

#company figure.hya {
  background-image: url("../images/logos/hya.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center; }

#company figure.marguerite {
  background-image: url("../images/logos/marguerite.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center; }

#company figure.saudidownstream {
  background-image: url("../images/logos/saudidownstream.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center; }

#company figure.wcrs {
  background-image: url("../images/logos/wcrs.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center; }

#company figure.independent {
  background-image: url("../images/logos/the-independent.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center; }

@media only screen and (min-width: 992px) {
  #company div.second {
    padding-left: 4em; } }

#company figure {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

#company figure:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

#portfolio img {
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -moz-box-shadow: 0px 0px 20px 2px #ccc;
  -webkit-box-shadow: 0px 0px 20px 2px #ccc;
  box-shadow: 0px 0px 20px 2px #ccc; }

#portfolio img:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px; }

#portfolio img.img-thumbnail {
  border: 1px solid #ccc;
  -moz-box-shadow: 0px 0px 20px 2px #ccc;
  -webkit-box-shadow: 0px 0px 20px 2px #ccc;
  box-shadow: 0px 0px 20px 2px #ccc; }

@media only screen and (max-width: 737px) {
  #portfolio img:hover {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }
section h3.section-subheading {
  font-family: "Roboto", sans-serif;
  line-height: 1.7em;
  font-size: 1.2em; }

#contact .form-group textarea.form-control {
  height: 150px !important; }
