#nav.affix {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
body {
  background: #475c98 url('../images/misc/background_buildings.png');
  margin-top: 35px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #475c98;
  font-family: "Bree Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-size: 15px;
  line-height: 1.6em;
  color: #586e75;
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
}
.container {
  background: #ffffff;
  -webkit-border-radius: 60px 60px 0 0;
  -moz-border-radius: 60px 60px 0 0;
  border-radius: 60px 60px 0 0;
}
.btn {
  margin-top: 20px;
}
.photogrid img {
  max-width: 100px;
  margin: 6px;
}
header img {
  margin: 10px 0 5px 25px;
  max-width: 420px;
  width: 100%;
}
@media (max-width: 420px) {
  header img {
    max-width: 320px;
  }
}
.dropdown-menu li a:hover {
  background: #475c98;
  color: #ffffff;
}
#venue h2 {
  border-bottom: 1px dotted #586e75;
}
#venue h3 {
  color: #7aa3cc;
}
#schedule .nav-tabs li a:hover {
  background: #475c98;
  color: #ffffff;
}
#schedule .nav-tabs li.active a:hover {
  background: #475c98;
}
#schedule h3 {
  color: #7aa3cc;
}
.panel-heading a,
.panel-heading a:hover {
  font-color: #ffffff !important;
}
aside h2 {
  border-bottom: 1px dotted #586e75;
}
.scrollspy .nav {
  background: #475c98;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .scrollspy .nav {
    width: 13%;
    max-width: 120px;
    text-align: center;
  }
}
@media (min-width: 980px) (max-width: 1060px) {
  .scrollspy .nav {
    width: 13%;
    max-width: 120px;
  }
}
.scrollspy li {
  border-bottom: 1px solid #374775;
  border-top: 1px solid #5e74b4;
}
.scrollspy li a {
  color: #ffffff;
}
.scrollspy li.active {
  background: #7aa3cc;
}
.scrollspy li a:hover {
  background: #7aa3cc;
}
.scrollspy li:first-child {
  border-top: none;
}
.scrollspy li:last-child {
  border-bottom: none;
}
footer p {
  font-size: 13px;
  margin-top: 35px;
  color: #777777;
}
