@import 'partials/variables', 'partials/mixins';



body { background:$purple url("#{$images-directory}misc/background_buildings.png"); margin-top:35px; }
h1, h2, h3, h4, h5, h6 { color:$purple; font-family:$heading-font-family; }




p { font: {
		size:$font-size-base;
		family:$copy-font-family; 
	}
	
	line-height:1.6em; color: $darkblue; }

.container { background: $background; @include border-radious(60px 60px 0 0); }

.btn { margin-top: 20px; }
.photogrid img {max-width: 100px; margin: 6px; }


// header
header img { margin: 10px 0 5px 25px; max-width: 420px; width:100%; 
	@media screen and (max-width:420px) { 
		max-width: 320px;
	}
}


// navbar

#nav.affix { position: fixed; left:0; top: 0; width: 100%; z-index:10; }

.dropdown-menu li a:hover { background:$purple; color:$white;}


// venue
#venue {
	h2 { border-bottom:1px dotted $darkblue;  }
	h3 { color:$pink; }
}


// schedule
#schedule {
	.nav-tabs { 
		li a:hover { background:$purple; color:$white;}
		li.active a:hover { background:$purple; }
	}
	
	h3 { color:$pink; }
}	

// sidebar

.panel-heading {a, a:hover  { font-color: $white !important; } }
aside { h2 { border-bottom: 1px dotted $darkblue; }}


// scrollspy

.scrollspy {

	.nav { 
		background:$purple; margin-top: 20px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius:10px; 
		@media screen and (max-width:1200px) {
			width:13%;
			max-width:120px;
			text-align:center;
		}

		@media screen and (min-width: 980px) and (max-width:1060px) {
			width:13%;
			max-width:120px;
			
		}				

		
	}
	
	li { border-bottom: 1px solid darken($purple, 10%); border-top: 1px solid lighten($purple, 10%); 
		a { color:$white; }
		&.active { background: $pink; }
		& a:hover { background: $pink; } 
		&:first-child { border-top:none; }
		&:last-child { border-bottom:none; }		
	}

	
}


// footer
footer p { font-size: $font-size-small; margin-top:35px; color: $gray-light;}

